mat-table, mat-header-cell, mat-cell {
    width: 200%;
}


mat-header-cell {
  margin: 0 10% 0 10%;
}


.table-container {
  height: 400px;
  overflow: auto;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%
}

table {
  width: 100%;
}
