

<div class="container-element">
  <div class="row d-flex justify-content-center">

    <div class="col-auto">
      <img src="{{productBase.image}}" alt="{{productBase.name}}">
    </div>

    <div class="col-7">
      <h6> {{productBase.price}}€/Caja.</h6>
      <button type="button" class="btn btn-secondary change-quantity-button" (click)="modifyQuantity(-1)">-</button>
      <input [formControl]="quantity" type="number">
      <button type="button" class="btn btn-success change-quantity-button" (click)="modifyQuantity(1)">+</button>
      <button type="button" class="btn btn-primary btn-sm add-election-button" (click)="addProduct()">
        Añadir
        <mat-icon class="icon-add">add_shopping_cart</mat-icon>
      </button>
      <br/>
      <button type="button" class="btn btn-warning btn-sm" (click)="addProduct()" routerLink="/buyCenter">Comprar</button>
    </div>

  </div>
  <div *ngIf="semaphore" class="container-text text-left">
    <p>{{productDescription.format}}</p>
    <p>{{productDescription.origin}}</p>
    <p>{{productDescription.cropType}}</p>
  <div>
</div>
