<div id="content">

<nav class="navbar navbar-light" style="background-color: #cc3;">
  <h3><a routerLink="/home" style="color: #6c6c50;">Fruitastico</a></h3>

  <p>
    <ng-container *ngIf="quantity > 0">+{{quantity}}</ng-container>
    <mat-icon routerLink="/buyCenter">add_shopping_cart</mat-icon>
  </p>
</nav>

<router-outlet></router-outlet>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50 footer">
    <div class="container text-center">
      <small>Copyright &copy; Pablo Armas Martín</small>
    </div>
  </footer>
</div>
