@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#sticky-footer {
  flex-shrink: none;
}

#content{
  height: 100%;
  background: #ede7e6;
  padding: 0;
}

.footer{
  margin-top: 15%;
}

.google-img{
  width: 10%;
}

.p-fast{
  color:grey;
}
