<mat-grid-list cols="2" rowHeight="280px" class="mat-position">
      <mat-grid-tile *ngFor="let element of collection | keyvalue">
        <mat-card  class="card">
          <span  (click)="algo()">
            <div class="image-container">
              <img mat-card-image class="d-flex justify-content-center" src={{element.value.image}} alt={{element.value.name}}>
            </div>
              <mat-card-content>
                <h6>{{element.value.name}}</h6>
                <h5>{{ element.value.price }}€</h5>
                <p>
                  {{ element.value.product }}
                </p>
              </mat-card-content>
            </span>
            <mat-card-actions>
              <p (click)="openPopUpWindow(element.key)">Más información</p>
            </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
</mat-grid-list>
