
<div class="d-flex justify-content-center" *ngFor="let element of collection | keyvalue">
  <mat-card  class="card">
    <mat-card-header>
      <mat-card-title> {{element.value.name}} </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="image" src={{element.value.image}} alt={{element.value.name}}>
    <mat-card-content>
      <p>
        {{ element.value.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
